<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table">
  <thead>
    <tr>
      <th class="table-dark bg-dark">Name</th>
      <th class="table-dark bg-dark">Email</th>
      <th class="table-dark bg-dark" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
