<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-dark">Name</th>
      <th class="table-dark bg-dark">Delivery Date</th>
      <th class="table-dark bg-dark" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.date %></td>
        <td><%= link_to 'View', "/users/#{@user.id}/orders/#{order.id}" %></td>
        <td><%= link_to 'Edit', "/users/#{@user.id}/orders/#{order.id}/edit" %></td>
        <td><%= link_to 'Cancel Order', "/users/#{@user.id}/orders/#{order.id}", method: :delete, data: { confirm: 'Are you sure? Cancellation charges may apply.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_user_order_path %>
