<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Delivery Date:</strong>
  <%= @order.date %>
</p>
<p>Select add foods to customize your order with some of our delicious menu items! </p>
<% if logged_in? %>
    <%= link_to 'Add Foods', "#{@order.id}/add_food" %>
<% end %> |
<%= link_to 'Back', user_orders_path %>
