<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-dark">Name</th>
      <th class="table-dark bg-dark">Cost</th>
      <th class="table-dark bg-dark" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.cost %></td>
        <% if ordering? %>
        <td><%= link_to 'Details/Order', "/users/#{current_user.id}/orders/#{current_order.id}/foods/#{food.id}" %></td>
        <% else %>
        <td><%= link_to 'Details', food %></td>
         <% end %>
        <%#<% if ordering?
        <td><%= link_to 'Add Food', user_order_add_food_path(food), method: :post %></td>
        <%#"/users/#{current_user.id}/orders/#{current_order.id}/add_food"%>
        <%#<% end %>
        <%#/users/:user_id/orders/:order_id/add_food(.:format)%>
      </tr>
    <% end %>
  </tbody>
</table>
<% if !ordering? %>
<p>Create a new order to get any of these delicious menu items!</p>
<br>
<% end %>

<% if ordering? %>
<p>Select the Foods You Would Like to Add to Your Order.</p>
<br>
<% end %>

<%if logged_in? && current_user.email == "sohamd@seas.upenn.edu" %>
  <%= link_to 'New Food', new_food_path %>
<% end %>
