<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-dark">Name</th>
      <th class="table-dark bg-dark">Cost</th>
      <th class="table-dark bg-dark" colspan="2"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.order %></td>
        <td><%= food.cost %></td>
        <td><%= link_to 'Show', food %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
