<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-dark">Name</th>
      <th class="table-dark bg-dark">Cost</th>
      <th class="table-dark bg-dark" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.cost %></td>
        <td><%= link_to 'Show', food %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Create a new order to get any of these delicious menu items!</p>
<br>

<%if logged_in? && current_user.email == "sohamd@seas.upenn.edu" %>
  <%= link_to 'New Food', new_food_path %>
<% end %>
