<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @food.order %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @food.cost %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
